<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rediriger toutes les requêtes vers le dossier public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]

    # Si le fichier n'existe pas, rediriger vers public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/index.php?/$1 [L,QSA]
</IfModule>
